<div class="side">
  <div class="content-info-shop">
    <img class="img-responsive" src="assets/shop/info.jpeg" alt="Info shop">
    <div class="overlay">
      <img src="assets/items/Sport-favorites-Multi-tab.jpg" alt="Logo">
      <p>
        <span>Fire Wood</span>
        <span>Abdelslam Aref</span>
        <span>+2 011 248 419 51</span>
      </p>
    </div>
  </div>

  <div class="list-shop-option">
    <ul class="list-unstyled">
      <li>
        <a routerLink="/shop/add-product" routerLinkActive="active">
          Add product
        </a>
      </li>
      <hr>
      <li>
        <a routerLink="/shop/add-offer" routerLinkActive="active">
          Add offer
        </a>
      </li>
      <hr>
      <li>
        <a routerLink="/shop/add-branch" routerLinkActive="active">
          Add branch
        </a>
      </li>
      <hr>
      <li>
        <a routerLink="/shop/update-information" routerLinkActive="active">
          Update information
        </a>
      </li>
    </ul>
  </div>
</div>