<app-header></app-header>
<section class="cats">
    <div class="container">
      <div class="catgs">
        <div>
          <img src="assets/branches/clothes.png" alt="clothes">
          <span>Clothes</span>
        </div>
        <div>
          <img src="assets/branches/car.png" alt="car">
          <span>Car</span>
        </div>
        <div>
          <img src="assets/branches/doctors.png" alt="doctors">
          <span>Doctors</span>
        </div>
        <div>
          <img src="assets/branches/fernatures.png" alt="fernatures">
          <span>Fernatures</span>
        </div>
        <div>
          <img src="assets/branches/clothes.png" alt="clothes">
          <span>Clothes</span>
        </div>
        <div>
          <img src="assets/branches/mobiles.png" alt="mobiles">
          <span>Mobiles</span>
        </div>
      </div>
    </div>
  </section>


  <!-- start offers section -->
<section class="offers" id="offers">
    <div class="container">
      <hr>
  
      <div class="row">
        <div class="col-sm-4">
          <div class="offer-content">
            <img src="assets/items/offers/fire.jpg" alt="offer wood">
            <div class="offer-details">
                <p>There are many variations of passages of Lorem Ipsum available, 
                  but the majority have suffered alteration in some form</p>
              </div>
            <div class="overlay">
             
              <div class="over-content">
                <div class="price-offer">
                  <span>10$</span>
                  <span>20$</span>
                </div>
                <div class="lover-offer">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                </div>
                <div class="text-offer">
                    <h3 routerLink="/offer/5">Any Pantlon in fire wood</h3>
                    <span routerLink="/shop-profile/10">Fire Wood</span><br>
                    <span>Abdelslam 3aref Benisurf</span>
                </div>
                
              </div>
  
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="offer-content">
                <img src="assets/items/offers/mens.jpg" alt="offer wood">
                <div class="offer-details">
                    <p>There are many variations of passages of Lorem Ipsum available, 
                      but the majority have suffered alteration in some form</p>
                  </div>
                <div class="overlay">
                 
                  <div class="over-content">
                    <div class="price-offer">
                      <span>10$</span>
                      <span>20$</span>
                    </div>
                    <div class="lover-offer">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    </div>
                    <div class="text-offer">
                        <h3>Any Pantlon in fire wood</h3>
                        <span>Fire Wood</span><br>
                        <span>Abdelslam 3aref Benisurf</span>
                    </div>
                    
                  </div>
      
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="offer-content">
                <img src="assets/items/offers/fire.jpg" alt="offer wood">
                <div class="offer-details">
                    <p>There are many variations of passages of Lorem Ipsum available, 
                      but the majority have suffered alteration in some form</p>
                  </div>
                <div class="overlay">
                 
                  <div class="over-content">
                    <div class="price-offer">
                      <span>10$</span>
                      <span>20$</span>
                    </div>
                    <div class="lover-offer">
                        <span class="glyphicon glyphicon-heart active" aria-hidden="true"></span>
                    </div>
                    <div class="text-offer">
                        <h3>Any Pantlon in fire wood</h3>
                        <span>Fire Wood</span><br>
                        <span>Abdelslam 3aref Benisurf</span>
                    </div>
                    
                  </div>
      
                </div>
              </div>
        </div>
      </div>
  
    </div>
  </section>
  <!-- end offers section -->
<app-footer></app-footer>