<app-header></app-header>
<section class="cats">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="cats-clothes">
          <div>
            <span>Categories</span>
          </div>
          <div>
            <span>Man</span>
          </div>
          <div>
            <span>Women</span>
          </div>
          <div>
            <span>Children</span>
          </div>
          <div>
            <span>Shoes</span>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <div class="shop">
              <div class="shop-logo">
                <img src="assets/items/Sport-favorites-Multi-tab.jpg" alt="">
              </div>
              <div class="shop-info">
                <h5>Twon team</h5>
                <span>+2 011 248 419 52</span>
                <p>Abdelslam 3aref Banisuef</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="shop">
              <div class="shop-logo">
                <img src="assets/items/Sport-favorites-Multi-tab.jpg" alt="">
              </div>
              <div class="shop-info">
                <h5>Twon team</h5>
                <span>+2 011 248 419 52</span>
                <p>Abdelslam 3aref Banisuef</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="shop">
              <div class="shop-logo">
                <img src="assets/items/Sport-favorites-Multi-tab.jpg" alt="">
              </div>
              <div class="shop-info">
                <h5>Twon team</h5>
                <span>+2 011 248 419 52</span>
                <p>Abdelslam 3aref Banisuef</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="shop">
              <div class="shop-logo">
                <img src="assets/items/Sport-favorites-Multi-tab.jpg" alt="">
              </div>
              <div class="shop-info">
                <h5>Twon team</h5>
                <span>+2 011 248 419 52</span>
                <p>Abdelslam 3aref Banisuef</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="shop">
              <div class="shop-logo">
                <img src="assets/items/Sport-favorites-Multi-tab.jpg" alt="">
              </div>
              <div class="shop-info">
                <h5>Twon team</h5>
                <span>+2 011 248 419 52</span>
                <p>Abdelslam 3aref Banisuef</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="shop">
              <div class="shop-logo">
                <img src="assets/items/Sport-favorites-Multi-tab.jpg" alt="">
              </div>
              <div class="shop-info">
                <h5>Twon team</h5>
                <span>+2 011 248 419 52</span>
                <p>Abdelslam 3aref Banisuef</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="shop">
              <div class="shop-logo">
                <img src="assets/items/Sport-favorites-Multi-tab.jpg" alt="">
              </div>
              <div class="shop-info">
                <h5>Twon team</h5>
                <span>+2 011 248 419 52</span>
                <p>Abdelslam 3aref Banisuef</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>