<header>
    <div class="shop-header">
      <div>
        <a routerLink="/shop" routerLinkActive="active">Home</a>
      </div>
      <div>
        <a routerLink="/shop-products" routerLinkActive="active">Products</a>
      </div>
      <div>
        <a routerLink="/shop-loves" routerLinkActive="active">Most loving</a>
      </div>
      <div>
        <a routerLink="/shop-offers" routerLinkActive="active">Offers</a>
      </div>
      <div>
        <a routerLink="/shop-branches" routerLinkActive="active">Branches</a>
      </div>
    </div>
</header>