<div class="content-shop-items">
  <div class="row">
    <div class="col-sm-3 all">
      <app-side-shop></app-side-shop>
    </div>
    <div class="col-sm-9 all">
      <app-header-shop></app-header-shop>

      <div class="shop-products-options">
        <div class="operations">
          <h5>Switch Sessions</h5>
          <div class="winter">
            <p>Winter Clothes</p>
            <span class="btn btn-primary">Display</span>
            <span class="btn btn-danger">Hide</span>
          </div>
          <div class="summer">
            <p>Summer Clothes</p>
            <span class="btn btn-primary">Display</span>
            <span class="btn btn-danger">Hide</span>
          </div>
        </div>
        
      </div>

      <!-- <div class="container"> -->
      <div class="row">
        <div class="col-sm-12">
          <!-- search items -->
          <div class="search-product">
            <form>
              <input type="text" class="form-control" placeholder="Search">
            </form>
          </div>
          <!-- end search -->

          <div class="items">
            <div class="row">
              <div class="col-lg-6">
                <div class="one-item">
                  <h5>Only Tshirt  </h5>
                  <span class="glyphicon glyphicon-heart loves" aria-hidden="true"><span>10</span></span>
                  <hr>
                  <div class="item">
                    <div class="item-img">
                      <img src="assets/items/Laptops.jpg" alt="Laptop Item">
                    </div>
                    <div class="item-info">
                      <div class="info-item">
                        <span>20$</span><span>40$</span><span>Discount 50%</span>
                      </div>
                      <div class="item-ops">
                        <span class="btn btn-primary">Edit</span> <span class="btn btn-danger">Hidden</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-lg-6">
                <div class="one-item">
                  <h5>Only Tshirt  </h5>
                  <span class="glyphicon glyphicon-heart loves" aria-hidden="true"><span>10</span></span>
                  <hr>
                  <div class="item">
                    <div class="item-img">
                      <img src="assets/items/Laptops.jpg" alt="Laptop Item">
                    </div>
                    <div class="item-info">
                      <div class="info-item">
                        <span>20$</span><span>40$</span><span>Discount 50%</span>
                      </div>
                      <div class="item-ops">
                        <span class="btn btn-primary">Edit</span> <span class="btn btn-danger">Hidden</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-lg-6">
                <div class="one-item">
                  <h5>Only Tshirt  </h5>
                  <span class="glyphicon glyphicon-heart loves" aria-hidden="true"><span>10</span></span>
                  <hr>
                  <div class="item">
                    <div class="item-img">
                      <img src="assets/items/Laptops.jpg" alt="Laptop Item">
                    </div>
                    <div class="item-info">
                      <div class="info-item">
                        <span>20$</span><span>40$</span><span>Discount 50%</span>
                      </div>
                      <div class="item-ops">
                        <span class="btn btn-primary">Edit</span> <span class="btn btn-danger">Hidden</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-lg-6">
                <div class="one-item">
                  <h5>Only Tshirt  </h5>
                  <span class="glyphicon glyphicon-heart loves" aria-hidden="true"><span>10</span></span>
                  <hr>
                  <div class="item">
                    <div class="item-img">
                      <img src="assets/items/Laptops.jpg" alt="Laptop Item">
                    </div>
                    <div class="item-info">
                      <div class="info-item">
                        <span>20$</span><span>40$</span><span>Discount 50%</span>
                      </div>
                      <div class="item-ops">
                        <span class="btn btn-primary">Edit</span> <span class="btn btn-danger">Hidden</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-lg-6">
                <div class="one-item">
                  <h5>Only Tshirt  </h5>
                  <span class="glyphicon glyphicon-heart loves" aria-hidden="true"><span>10</span></span>
                  <hr>
                  <div class="item">
                    <div class="item-img">
                      <img src="assets/items/Laptops.jpg" alt="Laptop Item">
                    </div>
                    <div class="item-info">
                      <div class="info-item">
                        <span>20$</span><span>40$</span><span>Discount 50%</span>
                      </div>
                      <div class="item-ops">
                        <span class="btn btn-primary">Edit</span> <span class="btn btn-danger">Hidden</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

          


      </div>

      <!-- </div> -->

      <app-footer-shop></app-footer-shop>
    </div>
  </div>

</div>