.footer {
    background: #F7F7F7;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, .9);
    z-index: 999999999999999999999999;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
.footer .big-logo a img {
    width: 150px;
    border-radius: 10px;
    height: 70px;
}
.footer .list-footer ul li {
    margin-bottom: 5px;
    border-bottom: 1px solid #dfdddd;
    padding-bottom: 3px;
}
.footer .list-footer ul li a{
    color: #666666;
    font-size: 16px;
    text-decoration: none;
    
}
.footer .contact-footer {
    font-size: 16px;
    color: #666666;
}
.footer .contact-footer >div:first-child {
    border-bottom: 1px solid #dfdddd;
    padding-bottom: 10px;
}
.footer .contact-footer >div:last-child {
    padding-top: 10px;
}

.footer .contact-footer >div span.glyphicon {
    margin-right: 10px;
    font-size: 18px;
    color: #bbbbbb;
} 

.footer .apps-logos img {
    display: block;
    margin-bottom: 10px;
}
