<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="big-logo">
          <a>
            <img src="assets/logo.jpg" alt="Logo">
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-footer">
          <ul class="list-unstyled">
            <li>
              <a href="">About us</a>
            </li>
            <li>
              <a href="">Website map</a>
            </li>
            <li>
              <a href="">Items</a>
            </li>
            <li>
              <a href="">Offers</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="contact-footer">
         <div><span class="glyphicon glyphicon-envelope"></span><span>sahl@gmail.com</span></div> 
         <div><span class="glyphicon glyphicon-earphone"></span><span>01124841951</span></div> 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="apps-logos">
          <img src="assets/apps/as.png" alt="App Store">
          <img src="assets/apps/an.png" alt="Google Play">
          <span>Download application<br> From here</span>
        </div>
      </div>
    </div>
  </div>
</footer>