<div class="content-shop-offers">
  <div class="row">
    <div class="col-sm-3">
      <app-side-shop></app-side-shop>
    </div>
    <div class="col-sm-9">
      <app-header-shop></app-header-shop>


        <!-- start offers section -->
        <section class="offers" id="offers">
          <div class="container">
            <h3 class="head-title">
              <img src="assets/brands/sale.png" alt="Ads">
              Recent offers
            </h3>
            <hr>

            <div class="row">
              <div class="col-sm-6">
                <div class="offer-content">
                  <img src="assets/items/offers/fire.jpg" alt="offer wood">
                  <div class="offer-details">
                    <p>There are many variations of passages of Lorem Ipsum available,
                      but the majority have suffered alteration in some form</p>
                  </div>
                  <div class="overlay">

                    <div class="over-content">
                      <div class="price-offer">
                        <span>10$</span>
                        <span>20$</span>
                      </div>
                      <div class="lover-offer">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                      </div>
                      <div class="text-offer">
                        <h3>Any Pantlon in fire wood</h3>
                        <span>Fire Wood</span><br>
                        <span>Abdelslam 3aref Benisurf</span>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="offer-content">
                  <img src="assets/items/offers/mens.jpg" alt="offer wood">
                  <div class="offer-details">
                    <p>There are many variations of passages of Lorem Ipsum available,
                      but the majority have suffered alteration in some form</p>
                  </div>
                  <div class="overlay">

                    <div class="over-content">
                      <div class="price-offer">
                        <span>10$</span>
                        <span>20$</span>
                      </div>
                      <div class="lover-offer">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                      </div>
                      <div class="text-offer">
                        <h3>Any Pantlon in fire wood</h3>
                        <span>Fire Wood</span><br>
                        <span>Abdelslam 3aref Benisurf</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="offer-content">
                  <img src="assets/items/offers/fire.jpg" alt="offer wood">
                  <div class="offer-details">
                    <p>There are many variations of passages of Lorem Ipsum available,
                      but the majority have suffered alteration in some form</p>
                  </div>
                  <div class="overlay">

                    <div class="over-content">
                      <div class="price-offer">
                        <span>10$</span>
                        <span>20$</span>
                      </div>
                      <div class="lover-offer">
                        <span class="glyphicon glyphicon-heart active" aria-hidden="true"></span>
                      </div>
                      <div class="text-offer">
                        <h3>Any Pantlon in fire wood</h3>
                        <span>Fire Wood</span><br>
                        <span>Abdelslam 3aref Benisurf</span>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- end offers section -->
      <app-footer-shop></app-footer-shop>
    </div>
  </div>

</div>