<app-header></app-header>

<section class="shop-profile">
  <div class="container">
    <div class="row">
      <!-- profile info -->
      <div class="col-sm-12">
        <div class="profile-info">
          <div class="overlay">
            <img src="assets/shop/info.jpeg" alt="img">
          </div>
          <div class="over"></div>
          <div class="info">
            <h4 class="head-title">Twon Team</h4>
            <p>+2 011 248 419 51</p>
            <span>Abdelslam 3aref beside mosque</span>
          </div>
        </div>
      </div>
      <!-- profile info -->
    </div>
  </div>
</section>
<section class="fields">
  <div class="container">
    <div class="allfields">
        <div>Products</div>
        <div>Offers</div>
        <div>Branches</div>
    </div>
      
  </div>
</section>
<section class="data">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="latest-item">
          <h3 class="head-title">
            <img src="assets/brands/list.png" alt="Ads">
            <span routerLink="items">Latest items</span>
          </h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <div class="price">
                  <div class="total-price">
                    <span>200$</span>
                    <span>100$</span>
                  </div>
                </div>
                <div class="discount">
                  <span>Discount 50%</span>
                </div>
                <img src="assets/items/Toys.jpg" alt="item">
                <div class="caption">
                  <h3>New Toy</h3>
                  <p>Men's Club</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="offers">
          <h3 class="head-title">
            <img src="assets/brands/sale.png" alt="Ads">
            <span routerLink="/offers">Recent offers</span>
          </h3>
          <hr>

          <div class="row">
            <div class="col-sm-12">
              <div class="offer-content">
                <img src="assets/items/offers/fire.jpg" alt="offer wood">
                <div class="offer-details">
                  <p>There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form</p>
                </div>
                <div class="overlay">

                  <div class="over-content">
                    <div class="price-offer">
                      <span>10$</span>
                      <span>20$</span>
                    </div>
                    <div class="lover-offer">
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    </div>
                    <div class="text-offer">
                      <h3 routerLink="/offer/5">Any Pantlon in fire wood</h3>
                      <span routerLink="/shop-profile/10">Fire Wood</span><br>
                      <span>Abdelslam 3aref Benisurf</span>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="offer-content">
                <img src="assets/items/offers/mens.jpg" alt="offer wood">
                <div class="offer-details">
                  <p>There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form</p>
                </div>
                <div class="overlay">

                  <div class="over-content">
                    <div class="price-offer">
                      <span>10$</span>
                      <span>20$</span>
                    </div>
                    <div class="lover-offer">
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    </div>
                    <div class="text-offer">
                      <h3>Any Pantlon in fire wood</h3>
                      <span>Fire Wood</span><br>
                      <span>Abdelslam 3aref Benisurf</span>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="offer-content">
                <img src="assets/items/offers/fire.jpg" alt="offer wood">
                <div class="offer-details">
                  <p>There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form</p>
                </div>
                <div class="overlay">

                  <div class="over-content">
                    <div class="price-offer">
                      <span>10$</span>
                      <span>20$</span>
                    </div>
                    <div class="lover-offer">
                      <span class="glyphicon glyphicon-heart active" aria-hidden="true"></span>
                    </div>
                    <div class="text-offer">
                      <h3>Any Pantlon in fire wood</h3>
                      <span>Fire Wood</span><br>
                      <span>Abdelslam 3aref Benisurf</span>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>